@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

html, body {
  height: 100%;
}

.container-fluid {
  padding-right: 1px !important;
  padding-left: 1px !important;
  margin-right: auto;
  margin-left: auto;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
.aligncenterabout {
  display: block;
  margin: 0 auto 15px;
  text-align: center;
}

a:focus {
  outline: 0px solid;
}

img {
  max-width: 100%;
  height: auto;
}

.fix {
  overflow: hidden;
}

p {
  margin: 0 0 15px;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0 0 15px;
  color: #444;
  font-weight: 500;
}

h1 {
  font-size: 48px;
  line-height: 50px;
}

h2 {
  font-size: 38px;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  line-height: 32px;
}

h4 {
  font-size: 24px;
  line-height: 26px;
}

h5 {
  font-size: 20px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 20px;
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

a:hover {
  color: #444;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0 none;
}

body {
  background: #fff none repeat scroll 0 0;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  line-height: 22px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #00a91d;
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background:#00a91d;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #00a91d;
  color: #fff;
}

.clear {
  clear: both;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

input, select, textarea, input[type="text"], input[type="date"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"], button, button[type="submit"] {
  -moz-appearance: none;
  box-shadow: none !important;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url('../img/preloader.gif') no-repeat center center;
}

::-moz-selection {
  background: #4dcc63;
  text-shadow: none;
}

::selection {
  background:#4dcc63;
  text-shadow: none;
}

.area-padding {
  padding-top: 50px;
  padding-bottom: 50px
}

.area-padding-2 {
  padding: 70px 0px 50px;
}

.padding-2 {
  padding-bottom: 90px;
}

.section-headline h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
  text-transform: capitalize;
}

.section-headline h2::after {
  border: 1px solid #333;
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
}

.sec-head {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}

/* Header top Area */

.header-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background:#00a91d;
  z-index: 9;
}

a.page-scroll:hover{
  color: #444 !important;
}

.navbar-header a.navbar-brand {
  display: inline-block;
  height: 70px;
  padding: 15px 0;
}

.main-menu ul.navbar-nav li {
  display: inline-block;
  padding: 0px 13px;
}

.main-menu ul.navbar-nav li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 24px 0px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.main-menu ul.navbar-nav li.active a::after {
  color:#444;
  bottom: 0px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.main-menu ul.navbar-nav li.active a:hover {
  background: none;
  color: #fff;
}

.main-menu ul.navbar-nav li.active a:focus {
  color: #fff;
}

.main-menu ul.navbar-nav li.active a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #444;
  position: relative;
}

.main-menu ul.navbar-nav li a:hover {
  color:rgba(0, 0, 0, 0);
}

.navbar {
  border: medium none;
  margin-bottom: 0;
}
.navbar-default {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.main-menu ul.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: none;
  color: #333;
}

.navbar-default .navbar-toggle {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  padding: 25px 0px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: transparent;
  color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 30px;
  height: 2px;
}

.top-right.text-right {
  float: right;
  position: relative;
  top: 24px;
  margin-left: 20px;
}

.top-right.text-right>li {
  float: right;
  margin: 0px 8px;
}

.top-right.text-right li a {
  color: #fff;
}

/* Stick menu */

.header-area.stick {
  background-color: rgba(0, 0, 0, 1);
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.stick .navbar-header a.navbar-brand {
  display: inline-block;
  height: 90px;
}

.stick .navbar-brand>img {
  display: none;
}

.stick .navbar-brand.sticky-logo>img {
  display: block;
}

.sticky-logo h1 {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.sticky-logo h1 span {
  color: #00a91d;
}

.stick .main-menu ul.nav>li>a:hover {
  color: #fff;
}

.stick .main-menu ul.navbar-nav li.active a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #00a91d;
  position: relative;
}

.stick .main-menu ul.navbar-nav li a:hover {
  color:#ffffff !important;
}

.stick .mainmenu ul#nav>li:hover>a, .stick .mainmenu ul#nav li .mega-menu, .stick .mainmenu ul#nav li ul.sub-menu {
  background-color: #f5f5f5;
  color: #fff;
  outline: medium none;
}

.stick .mainmenu ul#nav li:hover ul.sub-menu li a:hover, .mainmenu ul#nav li .mega-menu span>a:hover, .stick .mainmenu ul#nav li .mega-menu-shop a.mega-menu-title:hover {
  color: #fff;
}

.stick .logo {
  height: 20px;
}

.stick .logo a {
  margin-top: 0px;
}

.stick .main-menu ul.nav>li>a {
  color: #fff;
  line-height: 22px;
  padding: 24px 0px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.stick .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 30px;
  height: 2px;
}

.stick .navbar-default .navbar-toggle {
  padding: 10px 0px;
}

/* About Area */

.about-area {
  background-color: #f9f9f9;
}

.single-well>a {
  display: block;
}

/*.single-well.aligncenterabout::after{
  border: 1px solid #333;
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 100%;
}*/

.single-well ul li {
  color: #444;
  display: block;
  padding: 5px 0;
}

.single-well ul li i {
  color: #00a91d;
  padding-right: 10px;
  font-size: 12px;
}

/* General Information Area */

.geninfo-area {
  background-image: url("../img/temp-bg.jpg");
  height: auto; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.geninfo-single {
  background-color: #cecece;
  opacity: 0.7;
  text-align: center;
  padding: 40px 20px 40px;
}

.geninfo-single h2 {
  opacity: 1.0 !important;
  color: #000000;
}

.geninfo-single h3 {
  margin: 0px auto;
  opacity: 1.0 !important;
  color: #000000;
  font-size: 20px;
}

.geninfo-single p  {
  opacity: 1.0 !important;
  color: #000000;
}

.geninfo-single button {
  opacity: 1.0 !important;
}

.aligncentergeninfo {
  display: block;
  margin: 0 auto 38px;
}

/* ETCP Today Area */

.etcptoday-area {
  background-color: #f9f9f9;
}

.geninfo-single {
  background-color: #cecece;
  opacity: 0.7;
  text-align: center;
  padding: 40px 20px 40px;
}

.geninfo-single h2 {
  opacity: 1.0 !important;
  color: #000000;
}

.geninfo-single p  {
  opacity: 1.0 !important;
  color: #000000;
}

.geninfo-single button {
  opacity: 1.0 !important;
}

.aligncentergeninfo {
  display: block;
  margin: 0 auto 38px;
}

/* Slider Area*/

.product-slider { 
  padding-top: 90px; 
  height: auto;
  background: #f9f9f9;
}

.product-slider #carousel { 
  margin: 0
}

.product-slider #thumbcarousel { 
  position: relative;
  bottom: 114px;
  display: block;
  margin: 0px auto;
  width: 65%;
}

.product-slider #thumbcarousel .item { 
  text-align: center; 
}

.product-slider #thumbcarousel .item .thumb { 
  border: 4px solid #cecece; 
  width: 20%; 
  margin: 0 2%; 
  display: inline-block; 
  vertical-align: middle; 
  cursor: pointer; 
  max-width: 98px; 
}

.product-slider #thumbcarousel .item .thumb:hover { 
  border-color: #00a91d; 
}

.product-slider .item img { 
  width: 100%; 
  height: auto; 
}

.carousel-control { 
  color: #0284b8; 
  text-align: center; 
  text-shadow: none; 
  font-size: 30px; 
  width: 30px; 
  height: 30px; 
  line-height: 20px; 
  top: 23%; 
}

.carousel-control:hover, .carousel-control:focus, .carousel-control:active { 
  color: #333; 
}

.carousel-caption, .carousel-control .fa { 
  font: normal normal normal 30px/26px FontAwesome; 
}

.carousel-control { 
  background-color: rgba(0, 0, 0, 0); 
  bottom: auto; 
  font-size: 20px; 
  left: 0; 
  position: absolute; 
  top: 30%; 
  width: auto; 
}

.carousel-control.right, .carousel-control.left { 
  background-color: rgba(0, 0, 0, 0); 
  background-image: none; 
}


/* Footer Area */

.footer-area {
  padding: 40px 0;
  background: #f1f1f1 none repeat scroll 0 0;
}

.footer-head p {
  color: #444;
}

.footer-head h4 {
  color: #444;
  font-size: 16px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.footer-logo {
  padding-bottom: 20px;
}

.footer-logo h2 {
  color: #222;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.footer-logo h2 span {
  color: #00a91d;
}

.footer-icons ul li {
  display: inline-block;
}

.footer-icons ul li a {
  border: 1px solid #444;
  color: #444;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
}

.flicker-img>a {
  float: left;
  padding: 1px;
  width: 33.33%;
}

.footer-icons {
  margin-top: 30px;
}

.footer-contacts p span {
  color: #00a91d;
  font-weight: 700;
}

.popular-tag ul li {
  display: inline-block;
}

.footer-content {
  display: block;
  overflow: hidden;
}

.popular-tag ul li a:hover, .footer-icons ul li a:hover {
  background:#00a91d;
  border: 1px solid#00a91d;
  color: #fff;
}

.popular-tag ul li a {
  border: 1px solid #444;
  border-radius: 30px;
  color: #444;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin: 5px 3px;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.4s ease 0s;
  width: 70px;
  text-align: center;
}

.footer-area-bottom {
  background: #000 none repeat scroll 0 0;
  padding: 15px 0;
}

.copyright-text a:hover {
  text-decoration: underline;
  color: #00a91d;
}

.copyright-text a {
  color: #fff;
}

.copyright>p {
  margin-bottom: 0;
  color: #fff;
}

.copyright a, .credits a {
  color: #00a91d;
}

.credits {
  padding-top: 5px;
  text-align: center;
}

/*Jason CSS - About Page*/

/* banner-area */

.banner-about {
  background-image: url("../img/temp-parallax-img.jpg");
  min-height: 90%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 100px;
}

.aboutinfo-single {
  
  background-color: #cecece;
  opacity: 0.7;
  text-align: center; 
  height: auto;
  padding-bottom: 5px;
}

.aboutinfo-single h1 {
  opacity: 1.0 !important;
  color: #000000;
  font-weight: bold;
  padding-top: 35px;
  padding-bottom: 10px;
}

.aboutinfo-single h3 {
  margin: 0px auto;
  opacity: 1.0 !important;
  color: #000000;
  font-size: 20px;
  padding-bottom: 30px;
}

.aboutinfo-single p  {
  opacity: 1.0 !important;
  color: #000000;
  text-align: center;
}

.aboutinfo-single button {
  opacity: 1.0 !important;
}

.aligncentergeninfo {
  display: block;
  margin: 0 auto 38px;
}


/* Program Page */
.programBanner img {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.programBanner .bannerText h1 {
  background: #000;
  padding: 40px;
  opacity: 0.6;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  margin: auto;
}

.program-placeholder {
  padding: 35%;
  border: dashed 2px gray;
  margin-bottom: 20px;
}

.program-header {
  margin: 40px auto;
}

/* End Program Area CSS */

/* School History CSS */

.history-info {
  background-color: #f9f9f9;
}

.history-area {
  background-color: #dfdbdb;
}

.btn-readmore {
  color: #fff;
  background-color: #00a91d;
  border-color: #1c6e2a;
  font-family: cursive;
}

.aligncenterabout {
  display: block;
  margin: 0 auto 15px;
  text-align: center;
}

/* Mission & Vision Statements CSS */

.statements-area  {
  display: block;
  margin: 0px auto;
}

.statements-info {
  background-color: #dfdbdb;
  opacity: 1;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px 20px 40px;
  border-radius: 15px;
  margin: 10px 0 10px 0
}

.statements-info h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  opacity: 0.7;
  color: black;
}

.statements-info p {
  opacity: 0.7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}


/* Community CSS */

.community-info {
  background-color: #f9f9f9;
  padding: 40px 20px 40px;
}

.community-info h1 {
  font-weight: bold;
}

.community-info img {
  height: auto;
  border-radius: 10px;
  margin: 0px auto;
  padding: 5px;
}

/* slide in from the left */

.community-info .imgAnimateLeft {
  margin-top: 50px;
  margin-left: -1200px;
  border-radius: 20px;
  transition: 2.5s;
  line-height: 40px;
  text-align: center;
}

.community-info .imgAnimateRight {
  margin-left: 1000px;
  border-radius: 20px;
  transition: 2.5s;
  line-height: 40px;
  text-align: center;
}

.description {
  display: block;
  font-size: 50px;
  text-align: center; 
  padding-top: 80px;

}

/*Testimonials CSS*/

.testimonials-area {
  margin: 0px auto;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}


.rounded-img {
  border-radius: 50%;
}

.slider {
  height: 230px;
  width: auto;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 5.7rem;
      color: #00a91d;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt h1{
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


/* Our Team Area*/

#our-team {

  background-image: url("../img/temp-parallax-img.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(255,0,0,0.5);
}

.our-team-section-headline h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 70px;
  position: relative;
  text-transform: capitalize;
}

.our-team-section-headline h2::after {
  border: 1px solid #fff;
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
  opacity: 2;
}

.sec-head {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}

.flip-card {
  background-color: transparent;
  width: 270px;
  height: 270px;
  perspective: 1000px;
  margin: 0 6px 0 6px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #00a91d;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  padding: 15px;
}

.centeralign-ourteam{
  display: block;
  margin: 0px auto;
}

.ourteam-single-well {
  display: block;
}

.mcs-horizontal-example{
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  width: 100%;
}

.force-overflow {
  margin-bottom: 30px;
}

.mcs-horizontal-example .flip-card{
  display: inline-block;
}

#style-15::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: transparent;
  border-radius: 20px;
  padding-top: 10px;
}

#style-15::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

#style-15::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: transparent;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}